@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');
*{margin: 0;padding: 0;box-sizing: border-box;}

body{
    font-family: 'Nunito Sans', sans-serif;   
    overflow-x:hidden ; 
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
p{
    font-size: 1.25rem;
    font-family: 'Nunito Sans', sans-serif;}
a{
    text-decoration: none;
    display: inline-block;
    color: black;
}
li{
    list-style: none;
}
.b-b{
    border-bottom: 2px solid var(--dark);
}
.b-t{
    border-top: 2px solid var(--dark);
}
.b-r{
    border-right: 2px solid var(--dark);
}
.b-l{
    border-left: 2px solid var(--dark);
}
.p-l{
    padding-left: 10px;
}
.p-r{
    padding-right: 10px;
}
.p-t{
    padding-top: 10px;
}
.p-bb{
    padding-bottom: 10px;
}
:root{
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #17a2b8;
    --secondary: #00394f;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}

/* Header section Style */

.header{
    width: 100vw;
    height: 60px;
    background-color: var(--light);
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.links{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.links li {
    /* font-size: 50px; */
    font-size: 1.25rem;
    font-weight: 800;
    transition: all 0.3s ease;
}
.links li a:hover,.links li a:active{
    color: var(--info);
    cursor: pointer;
}
.button-1{
    /* border: 1px solid red; */
    padding: 10px 20px;
    border-radius: 30px;
    background-color: var(--info);
    outline: none;
    cursor: pointer;
    margin-top: 8px;
    
}
.button-1 a{
    color: var(--light);
    font-weight: 800;
}

/* header End Style */
/* **************************************************8 */
/* Main Start Style */
.main-class{
    width: 100vw;
    height: 500px;
    background-color: var(--info);
    display: flex;
    justify-content: center;
    padding: 10px 50px;


}
.main-left{
    margin: 20px 40px;
}
.main-heading {
    margin: 40px 0;
}
.main-heading h2{
    margin-bottom: 10px;
    color: var(--light);
}
.main-heading h3{
    margin-bottom: 10px;
    font-size: 60px;
    color: var(--light);
}
.main-heading p{
    margin-bottom: 10px;
    color: var(--light);
}
.main-learn-button{
    /* border: 1px solid red;
     */
     width: 200px;
     padding: 20px 20px;
     border-radius: 18px;
     background-color: rgb(0, 57, 79);
    outline: none;
    cursor: pointer;
}
.main-learn-button a{
    color: var(--light);
    text-align: center;
    transition: all 0.3s ease;
}
.main-learn-button:hover{
    background-color: rgb(27, 92, 116);
}

.main-right img{
    height: 500px;
    margin: 0 40px;
}

/* Main End Style */

/* Cards Start Style */
/* **************************************************8 */
.cards{
    margin:30px 0 ;
    width: 100vw;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    /* gap: 30px; */

}
.cards .card{
    width: 29%;
    display: flex;
    justify-content: space-around;
    margin: 10px 20px;
    padding: 30px;
    /* border: 1px solid green; */
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}
.cards .card .icon{
    padding: 4px 30px;
    font-size: 30px;
}
.cards .card .icon i{
    border: 3px solid black;
    padding: 10px;
    
}
.cards .card .about-text h3{
    color: black;
    font-weight: 800;
}
.cards .card .about-text p{
    color: #666;
    margin-top: 10px;
}
/* Cards End Style */
.section{
    margin-top: 30px;
    padding: 30px;
}
/* About Start Style */
.aboutUs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.aboutus-left{
    padding-right: 30px;
}
.aboutus-left img{
    width: 500px;
}
.aboutus-right{
    padding: 30px;
}
.aboutus-right h2{
    font-size: 1rem;
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #17a2b8;
}
.aboutus-right h3{
    margin-top: 20px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    color: #00394f;
}
.aboutus-right p{
    margin-top: 20px;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.2;
    color: #666;
}
.about-right-info{
    width: 100%;
    display: flex;
    justify-content: start;
    margin-top: 30px;
}
.about-right-info img{
    margin-right: 30px;
}

.about-right-picRight ul li{
    display: block;
    border-top: 2px solid var(--info);
    /* border-bottom: 2px solid var(--info); */
    padding: 8px 0;
}
.p-b{
    border-bottom: 2px solid var(--info);
}
.button{
    padding: 10px 20px;
    border-radius: 30px;
    background-color: var(--info);
    outline: none;
    cursor: pointer;
    display: inline-block;
    margin-top: 30px;
}
.button a{
    color: var(--light);
    font-weight: 800;
}

/* About End Style */
/* Class start Style */

.ppp{
    display: flex;
    justify-content: space-around;
    align-items: center;
} 

.popularClass h2{
    text-align: center;
    font-size: 1rem;
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #17a2b8;
}
.popularClass h3{
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1px;
    /* text-transform: uppercase; */
    color: black;
}
.popularClass-join{
    border-radius: 8px;
    width: 30%;
    margin-top: 30px;
    /* border: 1px solid red;
     */background-color: #F8F9FD;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.popularClass-join img{
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.popularClass-join h3{
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1px;
    color: black;
}
.popularClass-join .Some-info{
    text-align: center;
    /* padding: 20px; */
}
.child-info{
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.button-join{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.button-join a{
    border: 2px solid #17a2b8;
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    background-color: #17a2b8;
}

/* Class End Style */

/* Book Seat Style */
.bookSeat{
    /* width: 100vw; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    
    /* align-items: center; */
}
.bookSeat-left{
    /* width: 50vw; */
    width: 50%;
    /* border: 1px solid red; */
    padding: 30px;
}
.bookSeat-right{
    /* width: 30vw; */
    width: 35%;
    /* border: 1px solid red; */
    border-radius: 8px;
    background-color:#00394f ;
    border-radius: 8px;
}
.bookSeat-left h2{
    font-size: 1rem;
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #17a2b8;
}
.bookSeat-left h3{
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1px;
    /* text-transform: uppercase; */
    color: black;
}
.bookSeat-left p{
    margin-top: 20px;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.2;
    color: #666;
}
.bookSeat-left ul{
    margin-top: 20px;
    padding: 20px;
}
.bookSeat-left ul li{
    margin: 10px;
    line-height: 1.2;
    color: #666;
    font-size: 1.25rem;
    font-weight: 300;
}
.bookSeat-right form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.bookSeat-right form .headingForm{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: #00394f;
    border-radius: 8px;
    color: var(--light);
}
.bookSeat-right form .headingBody{
    background-color: #17a2b8;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}
.bookSeat-right form .headingBody input,.bookSeat-right form .headingBody select{
    width: 100%;
    margin-bottom: 30px;
    padding: 15px 10px;
    border-radius: 8px;
    border: none;
    color: #666;
    font-size: 1.25rem;
    font-weight: 300;
}

/* Book Seat Style End */

/* teachers Style Start */
.teachers h2{
    font-size: 1rem;
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #17a2b8;
    text-align: center;
}
.teachers h3{
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1px;
    /* text-transform: uppercase; */
    color: black;
    text-align: center;
}
.teacherBlock{
    display: flex;
    justify-content: space-between;
    /* padding: 0 20px; */
    margin-top: 30px;
}
.teacherBlock .teacherPersons{
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.teacherBlock .teacherPersons img{
    border-radius: 50%;
    width: 300px;
}
.teacherBlock .teacherPersons h4{
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1px;
    /* text-transform: uppercase; */
    color: black;
    text-align: center;
}
.teacherBlock .teacherPersons p{
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.2;
    color: #666;
}
/* teachers Style End */

/* Footer Style */
.footers{
    margin-top: 40px;
    width: 100%;
    background-color: #00394f;
    padding: 30px 30px;
    
    /* padding: 60px 40px; */
}
.footerInfo{
    width: 100%;
    background-color: #00394f;
    padding: 60px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: flex;
    gap: 10px;
}

.footerInfo .kidkinder{
    width: 25%;
    height: 400px;
    padding: 20px 10px;

}
.footerInfo .kidkinder h2{
    font-size: 3rem;
    color: var(--light);
    font-weight: 800;
}
.footerInfo .kidkinder p{
    color: var(--light);
    font-size: 1.2srem;
    color: var(--light);
}
.footerInfo .address{
    width: 25%;
    height: 400px;
    padding: 20px 10px;

}
.footerInfo .address h3{
    color: #17a2b8;
    font-weight: 700;
    line-height: 1.2;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.footerInfo .address h4{
    color: var(--light);
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
}
.footerInfo .address p{
    color: var(--light);
    font-weight: 400;
    line-height: 1.2;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.footerInfo .newaLetter{
    width: 25%;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
}

.footerInfo .newaLetter h2{
    color: #17a2b8;
    font-weight: 700;
    line-height: 1.2;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.footerInfo .newaLetter input{
    width: 100%;
    padding: 20px 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 1.25rem;
    border: none;
}
.footerInfo .newaLetter input[type="submit"]{
    border-radius: 30px;
    background-color:#17a2b8 ;
    color: var(--light);
    border: none;
}
.footerInfo .getLink{
    width: 25%;
    height: 400px;
    padding: 20px 10px;
    
}
.footerInfo .getLink h2{
    color: #17a2b8;
    font-weight: 700;
    line-height: 1.2;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.footerInfo .getLink p{
    color: var(--light);
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}
.footerInfo .getLink p a{
    color: var(--light);
    
}

.last p {
    text-align: center;
    margin-top: 10px;

}


@media max-width(1280px) {
    
}

